<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        id="WebApp_ID" version="3.1">

    <display-name>jd2-web-app-01</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.it.webapp.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/MyController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <jsp-file>/WEB-INF/jsp/registration.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/jsp/logination.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Users</servlet-name>
        <jsp-file>/WEB-INF/jsp/users.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>useredit</servlet-name>
        <url-pattern>/userEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>useredit</servlet-name>
        <jsp-file>/WEB-INF/jsp/userEdit.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>usersave</servlet-name>
        <url-pattern>/userSave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usersave</servlet-name>
        <jsp-file>/WEB-INF/jsp/save.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>by.it.webapp.filter.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>by.it.webapp.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--    <filter>-->
    <!--        <filter-name>SecurityFilter</filter-name>-->
    <!--        <filter-class>by.it.webapp.filter.SecurityFilter</filter-class>-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>SecurityFilter</filter-name>-->
    <!--        <url-pattern>*.html</url-pattern>-->
    <!--    </filter-mapping>-->


    <listener>
        <listener-class>by.it.webapp.controller.ApplicationStartListener</listener-class>
    </listener>


    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <context-param>
        <description>JDBC-драйвер</description>
        <param-name>jdbc-driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <context-param>
        <description>JDBC-URL</description>
        <param-name>jdbc-url</param-name>
        <param-value>jdbc:mysql://localhost:3306/georgian_dream?useUnicode=true&amp;characterEncoding=UTF-8
        </param-value>
    </context-param>

    <context-param>
        <description>имя пользователя БД</description>
        <param-name>jdbc-username</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <description>пароль пользователя БД</description>
        <param-name>jdbc-password</param-name>
        <param-value>root1234</param-value>
    </context-param>

    <context-param>
        <description>Минимальный пул</description>
        <param-name>minSize</param-name>
        <param-value>5</param-value>
    </context-param>

    <context-param>
        <description>Максимальный пул</description>
        <param-name>manSize</param-name>
        <param-value>30</param-value>
    </context-param>

    <context-param>
        <description>время тайм-аута</description>
        <param-name>connectTimeOut</param-name>
        <param-value>3000</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>